@model RegistrationWithardViewModel
@{
    ViewData["Title"] = "አዲስ የእንስሣት ውሃ አቅርቦት ሁኔታ ሪፖርት";
}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" id="waterSupplyForm">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="WoredaId" />
                <div class="row">
                    <div class="col-md-6">
                        <label>ወረዳ</label>
                        <input class="form-control" value="@ViewBag.WoredaName" readonly disabled />
                    </div>
                </div>
                <hr />

                <!-- Radio buttons for Enough / Not Enough -->
                <div class="row">
                    <div class="col">
                        <label>የውሃ አቅርቦት ሁኔታ</label>
                        <div class="d-flex gap-3 mt-2">
                            <div class="form-check">
                                <input type="radio" asp-for="AnimalWaterSupplyStatus.Enough" value="true" class="form-check-input" id="enoughTrue" />
                                <label class="form-check-label" for="enoughTrue">በቂ ነው</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="AnimalWaterSupplyStatus.Enough" value="false" class="form-check-input" id="enoughFalse" />
                                <label class="form-check-label" for="enoughFalse">በቂ አይደለም</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Detailed fields – hidden when Enough is true -->
                <div id="detailsSection" style="display: none;">
                    <div class="row mt-3">
                        <div class="col">
                            <label asp-for="AnimalWaterSupplyStatus.NoOfKebeliesWithWaterSupply"></label>
                            <input asp-for="AnimalWaterSupplyStatus.NoOfKebeliesWithWaterSupply" class="form-control" />
                        </div>
                    </div>
                    <!-- Household demographics -->
                    <div class="row">
                        <div class="col-md-3"><br /><h5>የተጎዳ አባወራና እማወራ</h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.MaleHouseHold"></label><input asp-for="AnimalWaterSupplyStatus.MaleHouseHold" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.FemaleHouseHold"></label><input asp-for="AnimalWaterSupplyStatus.FemaleHouseHold" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalHouseHold"></label><input asp-for="AnimalWaterSupplyStatus.TotalHouseHold" class="form-control" disabled /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><br /><h5>ቤተሰብ </h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.MaleFamily"></label><input asp-for="AnimalWaterSupplyStatus.MaleFamily" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.FemaleFamily"></label><input asp-for="AnimalWaterSupplyStatus.FemaleFamily" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalFamily"></label><input asp-for="AnimalWaterSupplyStatus.TotalFamily" class="form-control" disabled /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><br /><h5>ህጻናት ከ5 ዓመት በታች </h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.ChildhMale"></label><input asp-for="AnimalWaterSupplyStatus.ChildhMale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.ChildFemale"></label><input asp-for="AnimalWaterSupplyStatus.ChildFemale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalChild"></label><input asp-for="AnimalWaterSupplyStatus.TotalChild" class="form-control" disabled /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3"><h5>ወጣት</h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.YouthMale"></label><input asp-for="AnimalWaterSupplyStatus.YouthMale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.YouthFemale"></label><input asp-for="AnimalWaterSupplyStatus.YouthFemale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalYouth"></label><input asp-for="AnimalWaterSupplyStatus.TotalYouth" class="form-control" disabled /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3"><h5>አረጋዊያን</h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.ElderlyMale"></label><input asp-for="AnimalWaterSupplyStatus.ElderlyMale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.ElderlyFemale"></label><input asp-for="AnimalWaterSupplyStatus.ElderlyFemale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalElderly"></label><input asp-for="AnimalWaterSupplyStatus.TotalElderly" class="form-control" disabled /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3"><h5>አካል ጉዳተኛ</h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.DisabledMale"></label><input asp-for="AnimalWaterSupplyStatus.DisabledMale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.DisabledFemale"></label><input asp-for="AnimalWaterSupplyStatus.DisabledFemale" class="form-control demographic-input" /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalDisabled"></label><input asp-for="AnimalWaterSupplyStatus.TotalDisabled" class="form-control" disabled /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3"> <br /><h5>በሰብል ተባይ የተጎዳ ጠቅላል ማህበረሰብ </h5></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalMale"></label><input asp-for="AnimalWaterSupplyStatus.TotalMale" class="form-control" disabled /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalFemale"></label><input asp-for="AnimalWaterSupplyStatus.TotalFemale" class="form-control" disabled /></div>
                        <div class="col-md-3"><label asp-for="AnimalWaterSupplyStatus.TotalAffected"></label><input asp-for="AnimalWaterSupplyStatus.TotalAffected" class="form-control" disabled /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-9">
                            <label asp-for="AnimalWaterSupplyStatus.Remarks"></label>
                            <textarea asp-for="AnimalWaterSupplyStatus.Remarks" class="form-control"></textarea>
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary mt-3">አስቀምጥ</button>
                            <a asp-controller="AnimalHealthStatus" asp-action="Create" class="btn btn-secondary mt-3">ተመልሰው</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function toggleDetails() {
            var enoughRadio = document.getElementById('enoughTrue');
            var details = document.getElementById('detailsSection');
            if (enoughRadio.checked) {
                details.style.display = 'none';
                var inputs = details.querySelectorAll('input, textarea');
                inputs.forEach(function(input) {
                    input.disabled = true;
                });
            } else {
                details.style.display = 'block';
                var inputs = details.querySelectorAll('input, textarea');
                inputs.forEach(function(input) {
                    input.disabled = false;
                });
            }
        }

        var enoughTrue = document.getElementById('enoughTrue');
        var enoughFalse = document.getElementById('enoughFalse');
        enoughTrue.addEventListener('change', toggleDetails);
        enoughFalse.addEventListener('change', toggleDetails);
        toggleDetails(); // initial state (false by default, show details)
    </script>
}