@model PasswordResetKey
<div class="card">
    <div style="background:#4775d1;">
        <h4 style="color: white;padding-left:10px;"> Add Password Reset Key </h4>
    </div>
    <div class="card-body">
        <div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="AddPasswordResetKey">
            <hr />
            <div asp-validation-summary = "All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PasswordResetValue"></label>
                <input asp-for="PasswordResetValue" class="form-control" />
                <span asp-validation-for="PasswordResetValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyNote">Key Note</label>
                <input asp-for="KeyNote" class="form-control" />
                <span asp-validation-for="KeyNote" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <button type="submit" class="btn btn-success"> Save</button>
                <a asp-action="PasswordResetKeyIndex" class="btn btn-warning" style="width:auto">Back to list</a>
            </div>
        </form>

    </div>

</div> 
    </div>
</div>